@{
    ViewData["Title"] = "Error!";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <div class="mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="currentColor" class="bi bi-exclamation-triangle text-danger" viewBox="0 0 16 16">
            <path d="M7.938 2.016a.13.13 0 0 1 .125 0l6.857 11.856c.03.052.03.12 0 .172a.13.13 0 0 1-.125.064H1.205a.13.13 0 0 1-.125-.064.145.145 0 0 1 0-.172L7.938 2.016zM8 4.002a.905.905 0 0 0-.9.995l.35 3.507a.55.55 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4.002zm.002 6a1 1 0 1 0 0 2.002 1 1 0 0 0 0-2.002z" />
        </svg>
    </div>
    <h1 class="display-5 fw-bold text-danger">Oops! Something went wrong</h1>
    <p class="lead text-muted mb-4">Some unexpected error happened :(</p>
    <a href="/" class="btn btn-primary">
        Go Home
    </a>
</div>