@model BookingClinic.Application.Data.Admin.SpecialityAdminDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit speciality";
}

<h2>Edit speciality</h2>
<form method="post" asp-controller="Admin" asp-action="EditSpecialityPost">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" asp-controller="Admin" asp-action="Specialities">Cancel</a>
</form>