@model BookingClinic.Application.Data.Admin.ClinicAdminDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit clinic";
}

<h2>Edit clinic</h2>
<form method="post" asp-controller="Admin" asp-action="EditClinicPost">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="City" class="form-label"></label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Street" class="form-label"></label>
        <input asp-for="Street" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Building" class="form-label"></label>
        <input asp-for="Building" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" asp-controller="Admin" asp-action="Clinics">Cancel</a>
</form>